.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 100%;
  padding-top: 20vh; /* <-- УВЕЛИЧИВАЕМ ОТСТУП (например, до 20% от высоты экрана) */
  padding-bottom: 20px;
}

.draw-circle-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-bottom: 20px;
}

/* Медиа-запрос для экранов шириной до 600px */
@media (max-width: 600px) {
  .draw-circle-image {
    width: 80%; /* Уменьшаем ширину до 80% от родительского контейнера */
    max-width: 300px; /* Максимальная ширина 300px */
    margin-bottom: 15px; /* Возможно, уменьшение отступа */
  }
}

/* Дополнительный медиа-запрос для ещё меньших экранов (например, до 400px) */
@media (max-width: 400px) {
  .draw-circle-image {
    width: 90%; /* Ещё меньше ширина */
    max-width: 250px; /* Максимальная ширина 250px */
    margin-bottom: 10px; /* Дополнительное уменьшение отступа */
  }
}

.drawing-canvas {
  border: none;
  border-radius: 10px;
  cursor: crosshair;
  touch-action: none;
  width: 80vw;
  height: auto;
  max-width: 500px;
  margin-bottom: 20px;
  box-shadow: none;

  /* ДОБАВЛЯЕМ ЭТИ СТРОКИ */
  background-image: url('../assets/drawing_field.png');
  background-size: 100% 100%; /* Растягиваем фон точно по размеру холста */
}

.chalk-image {
  position: fixed; /* Fixed, чтобы мел не пропадал при скролле */
  width: 30px;
  height: 30px;
  z-index: 10;
  pointer-events: none; /* Чтобы изображение не мешало событиям мыши/тачей */
  display: none; /* По умолчанию скрыт */
}
/* Медиа-запрос для экранов шириной до 600px */
@media (max-width: 768px) {
  .draw-circle-image {
    width: 80%; /* Уменьшаем ширину до 80% от родительского контейнера */
    max-width: 340px; /* Максимальная ширина 300px */
    margin-bottom: 15px; /* Возможно, уменьшение отступа */
  }
}