/* TabBar.css */

.tab-bar {
  position: fixed;
  bottom: 5px; /* Настройте отступ от нижнего края по необходимости */
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap; /* Позволяет элементам переноситься на новую строку */
  justify-content: center;
  margin-bottom: 0;
  padding-top: 0;
  z-index: 1000; /* Чтобы TabBar был выше других элементов */
}

.tab-item {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирует элементы по горизонтали */
  justify-content: center; /* Центрирует элементы по вертикали */
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  flex: 1 1 50%; /* Заставляет каждый элемент занимать 50% ширины */
  max-width: 50%; /* Ограничивает максимальную ширину до 50% */
}

.tab-item.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.tab-icon {
  width: 100%; /* Относительная ширина относительно контейнера */
  max-width: 200px; /* Максимальная ширина для больших экранов */
  height: auto; /* Автоматическая высота для сохранения пропорций */
  object-fit: contain;
  margin-bottom: 0; /* Убраны отступы, связанные с метками */
}

