.tab-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-wrap: wrap;

  z-index: 1000;
  pointer-events: none;
}

.tab-item {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.tab-item:active {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Новый контейнер для контента внутри кнопки */
.tab-item-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 200px;
}

/* Позиционируем каждую из 4 кнопок в свой угол */
.tab-item:nth-child(1) {
  bottom: 100px;
  left: 0;
}
.tab-item:nth-child(2) {
  bottom: 100px;
  right: 0;
}
.tab-item:nth-child(3) {
  bottom: 0;
  left: 0;
}
.tab-item:nth-child(4) {
  bottom: 0;
  right: 0;
}

.tab-icon {
  width: 100%;
  max-width: 200px;
  height: auto;
  object-fit: contain;
  cursor: pointer;
  pointer-events: auto;
  transition: transform 0.2s ease;
}
.tab-icon:active {
  transform: scale(0.95);
}

/* "Мертвая зона" */
.tab-item-dead-zone {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  pointer-events: none;
}